body {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
form > h1 {
  color: white;
}
.inputForm {
  width: 60%;
  border-radius: 13px;
  outline: none;
  height: 2.3rem;
  border: 1px solid #2c5364;
  padding: 7px;
}
.inputForm:focus {
  border-color: rgb(99, 99, 102);
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.button {
  border: 1px;
  height: 37px;
  width: 80px;
  border-radius: 13px;
  color: white;
}
.button:first-child {
  background: rgb(0, 122, 255);
}
.button:last-child {
  background: rgb(99, 99, 102);
}
#forms {
  display: flex;
  overflow: hidden;
  width: 740px;
  border-radius: 15px;
  height: 340px;
  align-items: center;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#loginUser {
  width: 490px;
}
#signUp {
  width: 0px;
  overflow: hidden;
}
#forms > img {
  width: 250px;
  height: 340px;
}
